.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #353434;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #b63636f3;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.main {
  transition: margin-left 0.5s;
  padding: 16px;
}
#menu-icon {
  font-size: 30px;
  cursor: pointer;
}
@media screen and (max-height: 450px) {
  .sidenav .sidenav a {
    font-size: 18px;
  }
}

/* Avater */
img {
  border-radius: 50%;
}

/* copywriting */
.typewriter h1 {
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
   white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
      typing 3.5s steps(40, end),
    
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* social media */
.social-media {
  margin-top: 20px;
  text-align: center;
}

/* contact form */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* footer */

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

footer.card {
  height: 100%;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

footer .card-body {
  flex: 1;
}
